p{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif    
}

h5{
    font-family: 'Times New Roman', Times, serif    
}

li{
    font-size: 11px;
    font-family: 'Times New Roman', Times, serif    
}